@{
    ViewBag.Title = "Home";
}


@section top{

    @await Html.PartialAsync("Partial/_Slider")

}
<div class="col-sm-3">
    @await Html.PartialAsync("Partial/_LeftSideBar")
</div>

@await Html.PartialAsync("Partial/_FeaturedItems")
@await Html.PartialAsync("Partial/_CategoryTab")
@await Html.PartialAsync("Partial/_RecomendedItems")