
@model EmployeeView
@{
    string text = "Редактирование сотрудника";
    if (Model.Id == 0) {

        text = "Новый сотрудник";
    }

    ViewData["Title"] = text ;
}
<h2>@ViewData["Title"]</h2>

<hr >
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Patronymic" class="control-label"></label>
                <input asp-for="Patronymic" class="form-control" />
                <span asp-validation-for="Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birth" class="control-label"></label>
                <input asp-for="Birth" class="form-control" />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departament" class="control-label"></label>
                <input asp-for="Departament" class="form-control" />
                <span asp-validation-for="Departament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingSince" class="control-label"></label>
                <input asp-for="WorkingSince" class="form-control" />
                <span asp-validation-for="WorkingSince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkRole" class="control-label"></label>
                <input asp-for="WorkRole" class="form-control" />
                <span asp-validation-for="WorkRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

